body {
	background: #272B2D;
	color: #b2b9bC;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 600;
}

.button {
	background: #49825c;
	border-radius: 0.25em;
	color: #fff;
	display: inline-block;
	text-decoration: none;
}

#nav a {
	color: #fff;
	font-style: italic;
	text-decoration: none;
}

#hero {
	background: #32393C;
	text-align: center;
}

#footer {
	color: #62696C;
	text-align: center;
}