/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.hicode
	{
	}

		.hicode .title,
		.hicode .text
		{
			display: inline;
		}
		
		.hicode .title:after
		{
			content: ': ';
		}

		.hicode .line-comment
		{
			position: absolute;
			right: 0;
			width: 40%;
			border-bottom-left-radius: 0.25em;
			padding: 1em 1.5em 1em 1.5em;
			line-height: 1.5em;
			font-size: 0.8em;
		}
		
		.hicode .block-comment
		{
			width: 100%;
			padding: 1em 1.5em 1em 1.5em;
			line-height: 1.5em;
		}