@charset 'UTF-8';

@font-face
{
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	     url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	     url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'),
	     url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Font-Awesome-Social';
	src: url('fonts/fontawesome-social-webfont.eot');
	src: url('fonts/fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/fontawesome-social-webfont.woff') format('woff'),
		 url('fonts/fontawesome-social-webfont.ttf') format('truetype'),
		 url('fonts/fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	html,body
	{
		overflow-x: hidden;
	}

	body
	{
		background: #eff3f4;
	}

	body, input, select, textarea
	{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		color: #626769;
		font-size: 14pt;
		line-height: 1.75em;
		letter-spacing: 0.035em;
	}

	h1,h2,h3,h4,h5,h6
	{
		color: #323739;
		margin: 0 0 1em 0;
	}

	h1,h2
	{
		font-weight: 700;
		letter-spacing: 0.045em;
	}

	h3,h4,h5,h6
	{
		font-weight: 600;
		line-height: 1.35em;
	}

	strong, b
	{
		font-weight: 600;
		color: #323739;
	}
	
	em, i
	{
		font-style: italic;
	}

	a
	{
		color: #4190a3;
	}

	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	section.container
	{
		padding-top: 6em !important;
		margin-top: 6em !important;
	}

		section.container:before
		{
			content: '';
			position: absolute;
			left: 0;
			margin-top: -6em;
			height: 3px;
			width: 100%;
			background: #d4d9db;
		}
	
	section.main
	{
	}

		section.main > header
		{
			text-align: center;
			margin-bottom: 2.5em;
		}

			section.main > header h2
			{
				font-size: 2.25em;
				margin: 0;
			}

			section.main > header p
			{
				margin: 2em 0 0 0;
				padding-bottom: 2em;
			}

	section.sub
	{
	}
	
		section.sub > section
		{
			margin: 4em 0 4em 0;
		}
		
			section.sub > section:last-child
			{
				margin-bottom: 0;
			}
				
		section.sub h3
		{
			font-size: 1.5em;
			padding: 1.5em 0 0.75em 0;
			margin: 0 0 1.5em 0;
			border-bottom: solid 2px #d4d9db;
 		}
	
		section.sub h4
		{
			font-size: 1em;
			padding: 0 0 0.5em 0;
			margin: 0 0 1.75em 0;
			border-bottom: solid 2px #d4d9db;
 		}

	p, ul, ol, dl, form, table
	{
		margin-bottom: 2em;
	}

	dl.default
	{
	}
	
		dl.default dt
		{
			font-weight: 600;
			color: #323739;
			margin: 2em 0 1em 0;
		}

		dl.default dd
		{
			padding-left: 1.5em;
		}
		
		dl.default dt:first-child
		{
			margin-top: 0;
		}

	ul.default
	{
		list-style: none;
	}

		ul.default > li:before {
			content: '\2022';
			color: #323739;
			font-size: 1.5em;
			padding-right: 0.5em;
		}
	
		ul.default > li
		{
			margin: 0.75em 0 0 0;
		}
		
		ul.default > li:first-child
		{
			margin-top: 0;
		}

	ol.default
	{
		list-style: decimal;
		margin-left: 1.25em;
	}

		ol.default > li
		{
			padding-top: 1.25em;			
		}
		
		ol.default > li:first-child
		{
			padding-top: 0;
		}

	ol.major
	{
		counter-reset: li;
	}

		ol.major > li
		{
			padding-top: 4em;
		}
		
		ol.major > li:first-child
		{
			padding-top: 0;
		}

			ol.major > li > h2:first-child,
			ol.major > li > h3:first-child,
			ol.major > li > h4:first-child
			{
				margin: 0 0 1.5em 0;
			}
		
			ol.major > li > h2:first-child:before,
			ol.major > li > h3:first-child:before,
			ol.major > li > h4:first-child:before
			{
				content: counter(li);
				counter-increment: li;

				display: inline-block;
				background: #d94e4e;
				color: #fff;
				width: 1.35em;
				height: 1.35em;
				border-radius: 3em;
				text-align: center;
				line-height: 1.35em;
				font-size: 1em;
				box-shadow: 0 0 0 0.25em rgba(50,55,57,0.1);

				margin-right: 0.75em;
			}

	table
	{
		border-collapse: collapse;
	}

		table td, table th
		{
			border: solid 1px #d4d9db;
			padding: 0.25em 0.75em 0.25em 0.75em;
			text-align: left;
		}
		
		table th
		{
			color: #24292f;
			font-weight: bold;
		}

	.features
	{
		padding-top: 1em;
	}
	
		.features section
		{
			position: relative;
			padding-left: 11em;
			min-height: 10em;
		}
		
			.features section h3
			{
				font-size: 1.5em;
				margin: 0.25em 0 0.75em 0;
			}
		
			.features section .icon
			{
				position: absolute;
				left: 0.15em;
				top: 0.25em;
			}
			
			.features section p
			{
			}

	.summary
	{
		text-align: center;
	}

	.actions
	{
		margin: 2em 0 2em 0;
	}
	
	.button
	{
		display: inline-block;
		background: #51a0b3;
		color: #fff;
		border-radius: 0.25em;
		font-weight: 400;
		text-decoration: none;
		padding: 0.75em 1.75em 0.75em 1.75em;
	}

		.button.icon:before
		{
			position: relative;
			margin-right: 0.85em;
			font-size: 0.9em;
		}

		.button.huge
		{
			padding: 1em 2.5em 1em 2.5em;
			font-size: 1.2em;
		}
	
	.hicode-wrapper
	{
		position: relative;
		background: #32393C;
		color: #fff;
		border-radius: 0.25em;
		margin: 0 auto;
		text-align: center;
	}
	
		.hicode-wrapper header
		{
			width: 100%;
			padding: 1.85em 1.5em 1.7em 1.5em;
			line-height: 1.5em;
		}
	
			.hicode-wrapper header strong
			{
				color: #fff;
			}

	pre, code
	{
		background: #272b2d;
		color: #ddd;
		font-family: 'Source Code Pro';
		font-size: 0.8em;
		line-height: 32px;
		border-radius: 0.25em;
		text-align: left;
	}

	pre
	{
		margin: 0 auto 2em auto;
		padding: 0.5em 0.75em 0.5em 0.75em;
	}

	code
	{
		display: inline-block;
		padding: 0 0.75em 0 0.75em;
		margin: 0 0.5em 0 0.5em;
	}

	.hicode
	{
		position: relative;
		text-align: left;
		background: #272b2d;
		color: #ddd;
		border-radius: 0.25em;
		margin: 0 auto 2em auto;
		padding: 0.5em 0 0.5em 0;
	}
	
		.hicode .title
		{
			font-weight: 600;
		}

		.hicode .line
		{
			position: relative;
			box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.1);
			height: 32px;
			line-height: 32px;
			font-family: 'Source Code Pro';
			font-size: 0.8em;
			overflow-x: hidden;
			white-space: nowrap;
			padding: 0 1em 0 1em;
		}
		
			.hicode .line.notification:before
			{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				background: rgba(255,255,255,0.075);
				width: 100%;
				height: 100%;
			}
		
			.hicode .line.active
			{
				background: #444a46;
				box-shadow:	inset 0px 1px 0px 0px #49825c, 0px -1px 0px 0px #49825c, inset 0px -1px 0px 0px #49825c, 0px 1px 0px 0px #49825c;
				color: #bbffd2;
				cursor: pointer;
			}
			
			.hicode .line.last
			{
				box-shadow: none;
			}
	
		.hicode .block
		{
		}

			.hicode .block.style1.active
			{
				background: #383738;
				box-shadow:	inset 0px 1px 0px 0px #c84a3d, 0px -1px 0px 0px #c84a3d, inset 0px -1px 0px 0px #c84a3d, 0px 1px 0px 0px #c84a3d;
				color: #ffa992;
			}

			.hicode .block.style2.active
			{
				background: #32393c;
				box-shadow:	inset 0px 1px 0px 0px #51a0b3, 0px -1px 0px 0px #51a0b3, inset 0px -1px 0px 0px #51a0b3, 0px 1px 0px 0px #51a0b3;
				color: #9fe4f5;
			}

		.hicode .line-comment
		{
			position: absolute;
			background: #49825c;
			color: #fff;
			font-size: 0.9em;
			z-index: 1;
			font-weight: 400;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-o-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
		}

		.hicode .block-comment
		{
			color: #fff;
			font-size: 0.9em;
			z-index: 1;
			font-weight: 400;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-o-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
		}	

			.hicode .block-comment.style1
			{
				background: #c84a3d;
			}

			.hicode .block-comment.style2
			{
				background: #51a0b3;
			}

	.selectorr
	{
	}
	
		.selectorr .titles
		{
			margin: 0;
			text-align: center;
		}
	
			.selectorr .titles li
			{
				position: relative;
				display: inline-block;
				margin-right: 1.75em;
				padding: 0 0 1.5em 0;
			}
			
			.selectorr .titles li:before
			{
				content: '';
				display: block;
				position: absolute;
				bottom: -0.1em;
				left: 50%;
				margin-left: -0.75em;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				border-bottom: solid 0 #32393C;
				-moz-transition: border-bottom-width 0.25s ease-in-out;
				-webkit-transition: border-bottom-width 0.25s ease-in-out;
				-o-transition: border-bottom-width 0.25s ease-in-out;
				-ms-transition: border-bottom-width 0.25s ease-in-out;
				transition: border-bottom-width 0.25s ease-in-out;
			}

			.selectorr .titles li.active:before
			{
				border-bottom-width: 0.75em;
			}

	.demo-grid > .row > *,
	.demo-grid > .row > * > .row > *
	{
		box-shadow: inset 0px 0px 0px 2px #D4D9DB;
		background: #F4F9FB;
		height: 4em;
		line-height: 4em;
		text-align: center;
		border-radius: 0.25em;
	}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	/*
		Powered by:
		
		Font Awesome (http://fortawesome.github.com/Font-Awesome/)
		Font Awesome More (http://gregoryloucas.github.com/Font-Awesome-More/)
	*/

	.icon
	{
		text-decoration: none;
	}

		.icon:before
		{
			font-size: 1.25em;
			text-decoration: none;
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			-webkit-text-rendering: optimizeLegibility;
			-moz-text-rendering: optimizeLegibility;
			-ms-text-rendering: optimizeLegibility;
			-o-text-rendering: optimizeLegibility;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			-o-font-smoothing: antialiased;
			font-smoothing: antialiased;
			-webkit-font-feature-settings: "liga" 1, "dlig" 1;
			-moz-font-feature-settings: "liga=1, dlig=1";
			-ms-font-feature-settings: "liga" 1, "dlig" 1;
			-o-font-feature-settings: "liga" 1, "dlig" 1;
			font-feature-settings: "liga" 1, "dlig" 1;
		}

		.icon-download-alt:before{ content: "\f019"; }
		.icon-th:before{ content: "\f00a"; }
		.icon-custom-responsive:before{ content: "\f108\e000\f10b"; font-size: 0.9em; letter-spacing: -0.035em; }
		.icon-custom-css:before{ font-family: sans-serif; content: "{\00a0}"; font-weight: bold; font-size: 0.975em; position: relative; top: -0.14em; left: 0.015em; }
		.icon-plus-sign:before{ content: "\f055"; }
		.icon-external-link:before{ content: "\f08e"; }
		
	.icon.featured
	{
		display: inline-block;
		background: #d94e4e;
		color: #fff;
		width: 2.25em;
		height: 2.25em;
		border-radius: 3em;
		text-align: center;
		line-height: 2.35em;
		font-size: 3.5em;
		box-shadow: 0 0 0 0.2em rgba(50,55,57,0.1);
	}

		.icon.featured.icon-th:before
		{
			font-size: 75px;
		}
	
		.icon.featured.icon-plus-sign:before
		{
			position: relative;
			left: 0.01em;
			top: -0.01em;
			font-size: 75px;
		}
	
		.icon.featured.icon-custom-responsive:before
		{
			font-size: 60px;
		}
	
		.icon.featured.icon-custom-css:before
		{
			font-size: 60px;
		}
	
/*********************************************************************************/
/* Top                                                                            */
/*********************************************************************************/

	#top
	{
		padding: 8em 0 2em 0 !important;
		margin-top: 0 !important;
		text-align: center;
	}

		#top:before
		{
			display: none;
		}
		
		#top h1
		{
			font-size: 3.75em;
			letter-spacing: 0.075em;
			margin: 0 0 .85em 0;
		}
		
		#top p
		{
			font-size: 1.5em;
			line-height: 1.5em;
			margin-bottom: 1.75em;
		}
		
/*********************************************************************************/
/* Example                                                                       */
/*********************************************************************************/

	#example
	{
	}

		#example ol.default
		{
			text-align: center;
		}

			#example ol.default h3
			{
				font-size: 1.5em;
				margin-left: -1.85em;
			}

	#example-output
	{
		text-align: center;
	}

		#example-output .titles
		{
			margin: 0;
		}
	
			#example-output .titles li
			{
				position: relative;
				display: inline-block;
				margin-right: 1.75em;
				padding: 0 0 1.5em 0;
			}

			#example-output .titles li:before
			{
				content: '';
				display: block;
				position: absolute;
				bottom: -0.1em;
				left: 50%;
				margin-left: -0.75em;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				border-bottom: solid 0 #272B2D;
				-moz-transition: border-bottom-width 0.25s ease-in-out;
				-webkit-transition: border-bottom-width 0.25s ease-in-out;
				-o-transition: border-bottom-width 0.25s ease-in-out;
				-ms-transition: border-bottom-width 0.25s ease-in-out;
				transition: border-bottom-width 0.25s ease-in-out;
			}
			
			#example-output .titles li.active:before
			{
				border-bottom-width: 0.75em;
			}

		#example-output .output
		{
			position: relative;
			display: block;
			width: 100px;
			margin: 0 auto;
		}
	
			#example-output .output:before
			{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,0);
			}
	
			#example-output .output iframe
			{
				width: 100%;
				height: 40em;
				overflow: hidden;
			}
			
			#example-output .output iframe::-webkit-scrollbar
			{
				display: none;
			}  
  
			#example-output .output.wide
			{
				width: 10000%;
				position: relative;
				left: -5000%;
				margin-left: 50%;
			}
			
			#example-output .output.narrow
			{
				width: 1000px;
			}

				#example-output .output.narrow iframe
				{
					border-radius: 0.25em;
				}
			
			#example-output .output.mobile
			{
				width: 380px;
			}
			
				#example-output .output.mobile iframe
				{
					border-radius: 0.25em;
				}

/*********************************************************************************/
/* usage                                                                         */
/*********************************************************************************/

	#usage-grids-examples .hicode
	{
		margin-bottom: 0;
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 10em 0 8em 0;
		text-align: center;
		font-size: 0.9em;
	}
	
		#copyright a
		{
			color: inherit;
		}