/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, select, textarea
	{
		font-size: 13pt;
	}
	
	body
	{
		min-width: 1000px;
	}

/*********************************************************************************/
/* Bar                                                                           */
/*********************************************************************************/

	#bar
	{
		min-width: 1000px;
	}

/*********************************************************************************/
/* Top                                                                            */
/*********************************************************************************/

	#top
	{
		padding: 6em 0 0 0 !important;
	}

/*********************************************************************************/
/* Example                                                                       */
/*********************************************************************************/

	#example-output
	{
	}

		#example-output .titles,
		#example-output .output
		{
			display: none;
		}
		
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 8em 0 6em 0;
	}