/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, select, textarea
	{
		font-size: 13pt;
	}
	
	body
	{
		min-width: 1000px;
	}

/*********************************************************************************/
/* Bar                                                                           */
/*********************************************************************************/

	#bar
	{
		min-width: 1000px;
	}

/*********************************************************************************/
/* Example                                                                       */
/*********************************************************************************/

	#example-output
	{
	}

		#example-output .titles,
		#example-output .output
		{
			display: none;
		}